.displaypage{
  margin-left: 400px;
  border: #187eaf;
  border-width: medium;
}
table_class {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.tr_class:nth-child(even) {
  background-color: #dddddd;
}

.successmsg{
  font-style: oblique;
  color: chocolate;
  font-size: large;
}
.container{
  margin-top: 30px;
}
.containerDetails
{
  margin-left: 25%;
}
h3{
  color: orangered;
  font-style: italic;
}
.alert-position{

  width: 50%;
  font-size: 15px;
  font-weight: 300;
  margin-top: 13px;
}
table_class {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.tr_class:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: cornflowerblue;
  color: white;
}
.heading{
  text-align: center;
}
.formClass{
  text-align: center;
}
.loginMessage
{
  text-align: center;
  color:blue;
}
.loginInValidMessage
{
  text-align: center;
  color:crimson;
}
.containerlogin{
  margin-top: 70px;
}
.allotment-form-position{
  margin-top: 150px;
  margin-right: 50px;
}
#allotment{
  position: relative;
  left:20%;
  top:20%;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #cfd8dc;
  margin: .5em;
  padding: .3em 0;
  height: 2em;
  border-radius: 4px;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: lightseagreen;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 2px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}

button.delete {
  float:right;
  margin-top: 0px;
  margin-right: 0em;
  background-color: crimson !important;
  color:white;
}



