

<!--
<h4>add Employee</h4>

<div class="container" >
  <h4>Add Employee</h4>
  <table>
    <div>
      <div class="form-group">
      <form   [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
       <div>
          <input type="text" class="form-control" formControlName="employeeId" placeholder="Employee Id">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="employeeName" placeholder="Employee Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="employeeState" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
      </form>
    </div>
    </div>
  </table>
</div>
<ul><li>Employee Id,Employee Name,Employee Status</li></ul>
<ul *ngFor="let employee of EmployeeDetails">
  <li> {{employee.employee_id}} , {{employee.employee_name}} , {{employee.employee_state}}</li>
</ul>-->



<!--<div class="container">
  <h2>Add Employee</h2>-->
  <!--<form #empform class="formClass" [formGroup]="employeeForm" >
    <div class="form-group">
      <label>Employee Id</label>
      <input type="text" #refName class="form-control" formControlName="employeeId">
      <div *ngIf="employeeForm.controls['name'].hasError('required')" class="alert alert-danger">
        please enter name
      </div>
      <div *ngIf="userForm.controls['EmployeeId'].hasError('maxlength')" class="alert alert-danger">
        Id can't be more than 5 characters
      </div>
    <div class="form-group">
      <label>Employee Name</label>
      <input type="text" class="form-control" formControlName="employeeName">
    </div>
      <div class="form-group">
        <label>Employee State</label>
        <input type="text" class="form-control" formControlName="employeeState">
      </div>
    </div>
  </form>
  <button type="submit" (click)="addEmployee()" class="btn btn-primary">submit</button>
</div>
<ul><li>Employee Id,Employee Name,Employee Status</li></ul>
<ul *ngFor="let employee of EmployeeDetails">
  <li> {{employee.employee_id}} , {{employee.employee_name}} , {{employee.employee_state}}</li>
</ul>

--><form class="formClass" [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
  <!--<form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm.value)" >-->
    <div class="container">
      <div class="form-group">
        <label><b>Employee Id</b></label>
        <input type="text" class="form-control" ngModel placeholder="Employee Id" name="employeeId" required>
      </div>
      <div class="form-group">
        <label><b>Employee Name</b></label>
        <input type="text" class="form-control" ngModel placeholder="Employee Name" name="employeeName" required>
      </div>
      <div class="form-group">
        <label><b>Employee State</b></label>
        <input type="text" class="form-control" ngModel placeholder="Employee State" name="employeeState" required>
      </div>
      <div >
        <button type="reset" >Reset</button>
        <button type="submit">Submit</button>
      </div>
    </div>

  </form>


