<div class="col-md-4 col-md-offset-4">
  <h3>Assign Employee</h3>
<div class="container" >
  <table>
    <div>
      <div >
        <form [formGroup]="projectAllotmentForm" (ngSubmit)="assignProject()">
          <div class="form-group">
            <label>Employee Id </label>
            <select  class="form-control"  required formControlName="employeeId" placeholder="Employee Id">

              <option  *ngFor="let employee of notAssignedEmployees"
                       [value]="employee.employeeId">{{employee.employeeId}}/{{employee.employeeName}}</option></select>
          </div>
          <div class="form-group">
            <label>Project Name </label>
            <select  class="form-control" required formControlName="projectName" placeholder="Project name">
              <option  *ngFor="let project of projectList"
                       [value]="project.projectId">{{project.projectName}}</option>
              </select>
          </div>
          <div class="form-group">
            <label>Employee StartDate </label>
            <input type="date" class="form-control" required formControlName="employeeStartDate" min={{today}} placeholder="startDate">
          </div>
          <div class="form-group">
            <label>Employee EndDate </label>
            <input type="date" class="form-control"  required formControlName="employeeEndDate" min={{today}} placeholder="endDate">
          </div>
          <div class="form-group">
            <label>Employee Role </label>
            <select class="form-control" required formControlName="employeeRole" placeholder="Employee Role">
              <option  *ngFor="let role of employeeRoles"
                       [value]="role.emproleId">{{role.employeeRole}}</option>
            </select>
          </div>
          <button type="submit"  class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
  </table>
</div>
  <div *ngIf="successFlag"  class="alert alert-success alert-dismissable alert-position">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <p>Employee alloted  successfully</p>
  </div>
  <div *ngIf="failFlag" class="alert alert-warning alert-dismissable alert-position">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <p>Employee  not alloted</p>
  </div>
</div>

