<div class="containerDetails">
<h3>Assigned Employees</h3>
    <div class="pannel-body">
      <table class="table-class">
        <tr>
          <th>EmployeeName</th>
          <th>ProjectName</th>
        <th>EmployeeStartDate</th>
        <th>EmployeeEndDate</th>
        <th>EmployeeRole</th>
        </tr>
        <tr *ngFor='let project of projectDetails'>
          <td>{{project.employeeName}}</td>
          <td>{{project.projectName}}</td>
          <td>{{project.employeeStartDate}}</td>
          <td>{{project.employeeEndDate}}</td>
          <td>{{project.employeeRole}}</td>
        </tr>
      </table>

    </div>
</div>
