<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login Form</h3>
        </div>
        <div class="panel-body">
          <form role="form"  [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="Employee Id" formControlName="userName" type="text" autofocus>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" formControlName="password" type="password" value="">
              </div>
              <button type="submit" class="btn btn-success btn-block">Login</button>
              <button type="reset" class="btn btn-success btn-block">Reset</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf=valid>
  <p class="loginValidMessage">Login Sucessfull</p>
</div>
<div *ngIf=notValid>

  <p class="loginInValidMessage">Invalid username or password</p>

</div>


<!--
<div>
  <br/>
  <br/>
  <br/>
  <h2 class="heading">Login Form</h2>
</div>
<form class="formClass" [formGroup]="managerForm" (ngSubmit)="onSubmit()">
  <label>User Name</label><br/>

  <input type="text" placeholder="Employee Id" formControlName="userName"><br/><br/>

  <label>Password</label><br/>
  <input type="password" placeholder="password" formControlName="password" ><br/><br/>
  <button type="submit">Login</button>
  <button type="reset">Reset</button>
</form>
<br/>
<br/>
<div *ngIf=valid>
  <p class="loginValidMessage">Login Sucessfull</p>
</div>
<div *ngIf=notValid>
  <p class="loginInValidMessage">Invalid username or password</p></div>

&lt;!&ndash;
<div class="container" >
  <h4>Login Form</h4>
  <table class="loginTable">
    <div>
      <div class="form-group">
        <form   [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
          <div>
            <input type="text" class="form-control" formControlName="userName" placeholder="Employee Id">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-primary">Reset</button>
        </form>
      </div>
    </div>
  </table>

</div>
<div *ngIf=valid>
  <p class="loginValidMessage">Login Sucessfull</p>
</div>
<div *ngIf=notValid>
  <p class="loginInValidMessage">Invalid username or password</p></div>
&ndash;&gt;





-->
